@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  justify-content: center;
  align-items: center;
 
  /* background-image:url(./Assets/bg-2.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

   animation:change 60s infinite ease-in-out ; 
}
@keyframes change {

  0%{
    background-image: url(./Assets/bg-10.jpeg);
  }
  100%{
    background-image: url(./Assets/bg-15.jpg);
  }
  
 
 
}


@media screen and (min-width:640px) {
  body{
    height:100vh;
  }
 
} 
@media screen and (min-width:768px) {
  body{
    height:100vh;
  }
 
} 
/* .clear-img{
    animation: spin 55s linear infinite
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .Clouds{
    animation: pulse 3s cubic-bezier(0.4, 0, 0.8, 1) infinite;

  }

  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
  } */

