@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-image:url(./Assets/bg-1.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

   animation:change 60s infinite ease-in-out ; 
}

/* .clear-img{
    animation: spin 55s linear infinite
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .Clouds{
    animation: pulse 3s cubic-bezier(0.4, 0, 0.8, 1) infinite;

  }

  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
  } */

